@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav{
  background-color: aqua;
}
.nav-container{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  max-width: 1400px;
  margin: 0 auto;

}

.nav-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}

.nav-item-container a{
  margin: 50px 0px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #3a3a3a;
  font-weight: 600px;
}
.title-container {
  color: #3a3a3a; 
  font-size: 20px;
  font-weight: 700;
}
.color {
  color: red;
  background: wheat;
  border: none;
  font-size: 20px;
}

/* Start and journey section star from here */

.journey-container {
padding: 70px 15px 160px 120px;
}

.journey-container {
  background-color: #FFF;
  display: flex;
  align-items: center;
  max-width: 1400px;
  min-height: 50px;
  margin: 0 auto;
  
}

.text-container {
  width: 40%;
  margin: 0 auto;
}
.text-title {
  font: size 3.25rem;
  font: weight 700px;
  color: #3a3a3a;
}
.text-description {
  font-size: 1rem;
  font-weight: 600px;
}
.images-container img{
  width: 100%;
}
.btn {
  margin-top: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  background-color: #e02c6d;
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  box-shadow: 3px 2px 3px 5px rgba(172, 255, 47, 0.326);
}

/* sponsored style section starts from here */
.sponsored-container{

background-color: #FFF;

}

.sponsored-item{
  display: flex;
  max-width: 1400px;
  min-height: 30vh;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center; 
}

.sponsored-item{
padding: 50px;
}



/* popular section style start from here */


.collection-title{
text-align: center;
color: #3A3A3A;
font-size: 28px;
font-weight: 600;
margin-bottom: 30px;

}

.background-color{  
  color: #FB8200;
}
.popular-collection-section{
  align-items:center;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
  
}

.popular-collection-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  
}





/* Responsive for mobile device */

@media screen and (max-width: 576px)  {
  .nav-container{
  flex-direction: column;
  margin: none;
  }
    
  .nav-item-container {
   flex-direction: column;
   
  }

  .nav-item-container a{
    margin: 10px;
    
  }


/* Start journey section responsive */
  .journey-container {
    flex-direction: column-reverse;
    margin-top: 10px;
      
    }
.nav-btn{
margin-bottom: 20px;
padding: 10px;
  }


 
/* sponsored responsive  section*/
  .sponsored-item{
    flex-direction: column;
  padding: 5px;
  margin-bottom: 40px;
   gap: 50px;
  
    
    }

    .popular-collection-section{
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      margin-left: 70px;
      padding: 50px;
     margin-top: 10px;
      
    }
}






/* Responsive for mobile device */
@media screen and (min-width:577px) and (max-width:960px) {
    


} 